*{
    margin: 0 auto;

}

header{ 
    background-color: rgb(134, 238, 238);}

.logo{ 
   width: 200px;
   padding: 30px 10px;
    
}

h1{
    text-align: left;
    font-size: 40px;
    margin-bottom: 2px;
}

.scrittoda{
    color: rgb(162, 160, 160);
    font-size: 20px;
    margin-bottom: 30px;
}

.foto{
    margin-bottom: 20px;
}

.paragrafo{
    margin-bottom: 30px;
}

.thebooleaner{
    color: rgb(100, 193, 255);
}

.evidenziato{
    background-color: yellow;
    font-weight: 300;
}

.lista {
     margin-bottom: 30px;
}

.tabella{
    margin-bottom: 30px;
}

.head{
    text-align: left;
    background-color: lightskyblue;
    color: white;
}

.dispare{

    background-color: lightgray;
}

.footer{ 
    padding: 30px;
    background-color: rgb(15, 15, 144);
    color: white;
    text-align: center;
}

